h1 {
  text-align: center;
  font-family: 'Ringbearer', cursive; Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 20pt;
  color: #DAA520;
  font-size: 40px;
}

h2 {
  text-align: center;
  font-family: 'Amita', cursive; Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 20pt;
  color: #DAA520;
  font-size: 25px;
}

.header {
  height: 280px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #003300;
}

.navbar {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #272537;
   color: #FFFFFF
   border-style: solid;
   text-align: center;
   font-family: 'Amita', cursive; Geneva, Arial, Helvetica, sans-serif;

}


body {
  background-image: url('lotr_map.jpeg');
  text-align: center;
  font-size: 15pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: #B8860B;
  line-height: 14pt;
  /*padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;}*/



