h1 {
  text-align: center;

  font-family: 'Amita', cursive; Geneva, Arial, Helvetica, sans-serif;

  font-weight: bold;

  line-height: 20pt;

  color: gold;

  font-size: 40px;

}

h2 {

  text-align: center;

  font-family: 'Amita', cursive; Geneva, Arial, Helvetica, sans-serif;

  font-weight: bold;

  line-height: 20pt;

  color: gold;

  font-size: 20px;
}

.header {

  padding: 20px;

  text-align: center;

  background: #003300;

  border-style: solid;


}

.topnav {

  align: center;

  padding: 30px;

  text-align: center;

  background: #272537;

  font-family: 'Amita', cursive; Geneva, Arial, Helvetica, sans-serif;

  position:absolute;

  clear: both;

  border-style: solid;



}

.topnav a {
    color: white;
    padding: 150px;
    clear:both;
}



body {

  background-color: black;

  text-align: center;

  font-size: 15pt;

  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;

  color: gold;

  line-height: 14pt;

  padding-left: 5pt;

  padding-right: 5pt;

  padding-top: 5pt;

}



