flask~=2.1.1
flask-sqlalchemy
pymysql
wtforms~=3.0.1
flask_wtf
markupsafe==2.0.1
flask_bcrypt
email_validator
flask_login
cryptography
mysql-connector
mysql-connector-python
mysql-connector-python-rf
flask_session
flask_admin
login






SQLAlchemy~=1.4.35