{% extends "layout.html" %}
{% block body_content %}
<div class="container image-body-box">
      <img src="{{url_for('static', filename='images/carousel3_frame.png')}}" style="width:100%;" width="400px" height="500px">
</div>
<div class="all-body-box">
    <h1>Contact Us</h2>
    <p>Email:</p> <p> <a href = "mailto: oneshoptorulethemall@gmail.com">oneshoptorulethemall@gmail.com</a></p> <p>-------------------------------</p>
    <p>Address:</p> <p> The Lord of the Rings Emporium,</p> <p> Grant Way </p> <p> Isleworth </p> <p> TW7 5QD</p>
    <p>-------------------------------</p> <p>Tel:</p><p> 020 564 7890</p>
</div>

{% endblock %}