{% extends "layout.html" %}
{% block body_content %}
<div class="container image-body-box">
      <img src="{{url_for('static', filename='images/carousel5.jpg')}}" style="width:100%;" width="400px" height="1100px">
</div>
<div class="container all-body-box">
    <h2>Games</h2>
    {% for product in products %}
    {% set product_id = product.id %}
    {% set image = product.image %}
    <div class="product-box container">
        <h3 class="product-title"><a href="product/{{product_id}}" style="color:#B8860B;">{{ product.name }}</a></h3>
        <img src= "{{ url_for('static', filename ='images/product_images_mm/') }}{{image}}" width="100px" height="100px">
        <p class="product-description">{{ product.description }}</p>
        <p class="product-price">£{{ product.full_price }}</p>
        <p class="more info" ><a href="product/{{product_id}}"> Click for more information</a></p>
    </div>
    {% endfor %}
</div>
{% endblock %}