{% extends "layout.html" %}
{% block body_content %}
<div class="container body-box">
    <h2>Games</h2>
    {% for product in products %}
    {% set product_id = product.id %}
    {% set image = product.image %}
    <div class="product-box container">
        <img src= "{{ url_for('static', filename ='images/product_images/') }}{{image}}" width="410px" height="360px">
        <h3 class="product-title"><a href="product/{{product_id}}" style="color:#B8860B;">{{ product.name }}</a></h3>
<!--        <p class="product-description">{{ product.description }}</p>-->
<!--        <img src= "{{ url_for('static', filename ='images/product_images_mm/') }}{{image}}" width="100px" height="100px">-->
<!--        <p class="product-description">{{ product.description }}</p>-->
        <p class="product-price">£{{ product.full_price }}</p>
<!--        <p class="more info" ><a href="product/{{product_id}}"> Click for more information</a></p>-->
    </div>
    {% endfor %}
            <div class="container" style="display:inline; width: 100% padding:30px; align:center;">
            <h2 style="color:white;"></br></br></br>Shop Lord of the Rings</h2>
            <div style="display:inline-block;">
            <a href="{{ url_for('collectibles') }}"><img src= "{{ url_for('static', filename ='images/c1-collectibles.jpg') }}" width="400px;" height="400px;" style="border: 1px solid #B8860B;"></a>
            <a href="{{ url_for('games') }}"><img src= "{{ url_for('static', filename ='images/c2-games.jpg') }}"  width="400px;" height="400px;" style="border: 1px solid #B8860B;"></a>
            <a href="{{ url_for('keyrings_and_badges') }}"><img src= "{{ url_for('static', filename ='images/c3-keyrings.jpg') }}"  width="400px;" height="400px;" style="border: 1px solid #B8860B;"></a>
            </div>
        </div>
</div>
{% endblock %}