{% extends "layout.html" %}
{% block body_content %}
<div class="container body-box">
    <h2>Keyrings and Badges</h2>
    {% for product in products %}
    <div class="product-box container">
        <h3 class="product-title"><a href="{{'product/' + id }}" style="color:#B8860B;">{{ product.name }}</a></h3>
        {% for image in images %}
        <img src= "{{ url_for('static', filename ='images/product_images/' + image_name) }}">
        {% endfor %}
        <p class="product-description">{{ product.description }}</p>
        <p class="product-price">£{{ product.full_price }}</p>
        <p class="more info" ><a href="{{'product/' + id }}"> Click for more information</a></p>
    </div>
    {% endfor %}
</div>
{% endblock %}