<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
    <title>{{Title}}</title>

</head>

<STYLE>A {text-decoration: none;} </STYLE>

        <div class="header">
    <h1>The Lord of the Rings Emporium</h1>
        <br>
        <img src="{{url_for('static', filename='images/One_Ring_Blender_Render.png')}}" alt="One Ring Logo" width="100" height="100">
        <br>
        <br>
        <h2>~ One shop to rule them all ~</h2>
        <br>

        </div>


            <div class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/shop/">Shop</a></li>
        <li><a href="/aboutus/">About Us</a></li>
          <li><a href="/contact/">Contact</a></li>
          <li><a href="/faq/">FAQ</a></li>
      </ul>
  </div>


<footer>
    <div class="footer">
    <p>The Lord of the Rings Emporium 2022</p>
    <p>Grant Way, Isleworth TW7 5QD</p>
    </div>
    </head>
    </body>
</footer>

{% block body_content %}
{% endblock %}
</body>
</html>
