<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>

        <!-- Bootstrap CSS -->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
    <STYLE>A {text-decoration: none;} </STYLE>

<main>
        <div class="header">
    <h1>The Lord of the Rings Emporium</h1>
        <br>
            <a href="/"><img src="{{url_for('static', filename='images/One_Ring_Blender_Render.png')}}" alt="One Ring Logo" width="100" height="100"></a>
        <br>
        <br>
        <h2>~ One shop to rule them all ~</h2>
        <br>

        </div>
        <div class="navbar">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/about">About Us</a></li>
                  <li><a href="/contact">Contact</a></li>
                  <li><a href="/faq">FAQ</a></li>
                  <li><div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
              {% endif %}
              </div>
                  </li>
              </ul>
<!--              <div class="navbar-nav">-->
<!--              {% if current_user.is_authenticated %}-->
<!--                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>-->
<!--              {% else %}-->
<!--                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>-->
<!--                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>-->
<!--              {% endif %}-->
<!--              </div>-->
        </div>
<!--        <div class="navbar-nav">-->
<!--              {% if current_user.is_authenticated %}-->
<!--                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>-->
<!--              {% else %}-->
<!--                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>-->
<!--                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>-->
<!--              {% endif %}-->
<!--        </div>-->

</main>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div>
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="container">
        {% block body_content %} {% endblock %}
    </div>

    <footer>
        <div class="footer-text">
            <p>
                The Lord of the Rings Emporium 2022 ©
                </br>
                Grant Way, Isleworth TW7 5QD
            </p>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->

</body>
</html>
