{% extends "layout.html" %}
{% block body_content %}

<div class="container body-box">
    <div class="grid-container" style="padding-top: 40px;">
        <div class="grid-child image product-image-main">
            <img src= "{{ url_for('static', filename ='images/product_images/' + image_name) }}" width="800" height="560">
        </div>
        <div class="grid-child product">
            <h1 class="product-title-main">{{ name }}</h1>
            <p class="product-price-main">£{{ price }}</p>
            <p class="product-description-main">{{ description }}</p>
                    <!--Shopping Cart code-->
            <div>
            <form action="{{url_for('add_to_cart')}}" method="post" style="float:left;">
                <input type="hidden" name="product_id" value="{{product_id}}"></input>
                <label style="text-align: left;">Quantity:</label>
                <input class ="input" type="number" name="quantity" id="{{product_id}}" value="1" min="1" max="{{available_stock}}"></input>
                <button type="submit">Add to cart</button>
            </form>
                </div>
        </div>
        </div>
        <div class="container" style="display:inline; width: 100% padding:30px; align:center;">
            <h2 style="color:white;"></br></br></br>Shop more Lord of the Rings</h2>
            <div style="display:inline-block;">
            <a href="{{ url_for('collectibles') }}"><img src= "{{ url_for('static', filename ='images/c1-collectibles.jpg') }}" width="400px;" height="400px;" style="border: 1px solid #B8860B;"></a>
            <a href="{{ url_for('games') }}"><img src= "{{ url_for('static', filename ='images/c2-games.jpg') }}"  width="400px;" height="400px;" style="border: 1px solid #B8860B;"></a>
            <a href="{{ url_for('keyrings_and_badges') }}"><img src= "{{ url_for('static', filename ='images/c3-keyrings.jpg') }}"  width="400px;" height="400px;" style="border: 1px solid #B8860B;"></a>
            </div>
    </div>
</div>
{% endblock %}


