{% extends "layout.html" %}
{% block body_content %}
image_name = {{ image_name }}

<div class="container body-box">
    <div class="grid-container">
        <div class="grid-child image">
            <img src= "{{ url_for('static', filename ='images/product_images/' + image_name) }}">
        </div>
        <div class="grid-child product">
            <h3 class="product-title">{{ name }}</h3>
            <p class="product-description">{{ description }}</p>
            <p class="product-price">£{{ price }}</p>
        </div>
    </div>
</div>
{% endblock %}


